html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 10px;
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
